@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@600&family=Karla:ital,wght@0,700;1,300&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@500;700&family=Lexend+Deca&family=Poppins&display=swap');
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'lexend-deca',sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
html{
    font-size: 10px;
}
:root{
--Brightorange: hsl(31, 77%, 52%);
--Darkcyan: hsl(184, 100%, 22%);
--Verydarkcyan: hsl(179, 100%, 13%);
--Transparentwhite: hsla(0, 0%, 100%, 0.75);
--Verylightgraybackground: hsl(0, 0%, 95%);
--Blue:#22dd22;
--Green: #615e59;
--background-color:#490fe9;
--orange:#321844;
--Yellow-orange:rgb(110, 78, 17);
}
body{
    background-color: var(--Verylightgraybackground);
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.container{
    max-width: 960px;
    margin: auto;
}
.div-1{
    background-color: var(--Brightorange);
    border-bottom-left-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
}
h1{
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 700;
    font-size: 3.0rem;
    color: var(--Verylightgraybackground);
}
.image{
    margin-top: 3rem;
    margin-left: 3rem;
    
}
p{
    padding-left: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 3rem;
    line-height: 2.5rem;
    color: var(--Transparentwhite);
}
h2{
    margin-left: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.wrapper{
    display: flex;
    flex-direction: row;
}
.div-2{
    background-color: var(--Darkcyan);
}.btn-primary{
    padding-left: 0.4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: var(--Verylightgraybackground);
    color: var(--Brightorange);
    border: none;
    padding-right: 0.4rem;
    width: 55%;
    
}
.btn{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: var(--Verylightgraybackground);
    color: var(--Darkcyan);
    border: none;
    width: 50%;
}
.btn:hover{
   transform: scale(1.2);
    border: 2px solid transparent;
   
}
.div-3{
    background-color: var(--Verydarkcyan);
    border-bottom-right-radius:0.6rem;
    border-top-right-radius: 0.6rem;
}
.btn-primarys{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    background-color: var(--Verylightgraybackground);
    color: var(--Darkcyan);
    border: none;
    width: 50%;
}
.btn-primary:hover{
    background-color: var(--Brightorange);
    color: var(--Transparentwhite);
    border: 2px solid var(--Transparentwhite);
 cursor: pointer;
}
.btn:hover{
    background-color: var(--Darkcyan);
    color: var(--Transparentwhite);
    border: 2px solid var(--Transparentwhite);
   cursor: pointer;
}
.btn-primarys:hover{
    background-color: var(--Verydarkcyan);
    color: var(--Transparentwhite);
    border: 2px solid var(--Transparentwhite);
   cursor: pointer;
}
@media  screen and (max-width:1030px) {
    body{
    }
}
@media screen and (max-width:800px){
    .wrapper{
        display: flex;
        flex-direction: column;
        margin: 3rem;
    }
   
        .div-1{
        border-top-right-radius: 0.6rem;
        border-top-left-radius: 0.6rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    .div-3{
        background-color: var(--Verydarkcyan);
        border-top-right-radius: 0rem;
        border-top-left-radius: 0rem;
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;

    }
    p{
        line-height: 3.5rem;
      font-size: 2rem;
        
    }
    h2{
        margin-left: 2rem;
        padding-top: 2rem;
        margin-bottom: 3rem;
        
    }
    .btn-primary{
       
        padding-top: 1.4rem;
        padding-bottom: 1.3rem;
        border-radius: 6rem;
        width: 40%;
        font-size: 1rem;
    }

   .btn{
    padding-top: 1.4rem;
    padding-bottom: 1.3rem;
    border-radius: 6rem;
    width: 40%;
    font-size: 1rem;
}
.btn-primarys{
   
    padding-top: 1.4rem;
    padding-bottom: 1.3rem;
    border-radius: 6rem;
    width: 40%;
    font-size: 1rem;
}
}
.grid-container{
  background-color: #0606f9;
  display: grid;
 grid-template-areas: 
'a a b'
'c d d'
'c e e';
grid-template-columns:200px 90px 200px;
grid-template-rows:200px 90px 120px;
gap:15px;
padding:35px;
justify-content:center;
margin-top:30px;				  
}
.div1{
  grid-area: a;
  background-color: var(--Yellow-orange);
}
.div2{
  grid-area: b;
  background-color: var(--orange);
}
.div3{
  grid-area: c;
  background-color: var(--Green);
}
.div4{
  grid-area: d;
  background-color: var(--Blue);
}
.div5{
  grid-area: e;
  background-color: var(--Blue);
}
@media (min-width:375px) and (max-width:650px){
  .grid-container{
      display:grid;
     grid-template-areas: 
    'a a b'
    'c d d'
    'c e e';
    grid-template-columns:150px 50px 150px;
    grid-template-rows:180px 70px 100px;
    gap:7px;
    padding:10px;
    justify-content:center;
   margin-top:80px;				  
  }

}
